body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #880abe;
  position: relative;
}

.container {
  padding: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 12rem);
}

.header {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.brand-icon {
  transform: translateY(1.2rem);
  width: 80px;
}

.brand-title {
  border-bottom: 3px solid #000;
  flex: 1;
}

.brand-title h1 {
  margin: 0;
  margin-bottom: 8px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px 30px;
  border-radius: 40px;
  background-color: transparent;
  font-size: 1.6rem;
  outline: 0;
  border: 3px solid #000;
  cursor: pointer;
  transition: all .2s linear;
  margin-top: 20px;
}

button:hover {
  background-color: #000;
  color: #880abe;
}

.action-title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
}

ul {
  list-style-type: none;
  padding-left: 8px;
}

li {
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background 0.2s;
}

li.selected-item {
  font-weight: 900;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.selected-item-icon {
  margin-right: 6px;
}

.highlight {
  font-weight: 900;
}

.centered-text {
  text-align: center;
}

.action-container {
  display: flex;
  justify-content: center;
}

